* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  width: min(1250px, 90%);
  margin: 0 auto;
}
